
/* 
  .tee-btn {
    padding: 2rem 3rem;
}
.button
{
    background-color: plum;
    border: 1px solid plum;
    border-radius: 35px;
    color: white;
    height: 50px;
    padding: 0 3.7rem;
    margin-left: 2rem;
}
.buttons
{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 35px;
    color:#888888;
    height: 50px;
    padding: 0 2rem;
}
.delivery {
    padding-right: 2rem;
}
.cont{
    background-color: white;
    border: 1px solid #91B32B;
}
.contt{
    background-color: #91B32B;
    border: 1px solid #91B32B;
}
.product-cost {
    text-align: right;
}
.product-amount {
    padding-left: 25px;
}
.table-mobile {
    display: none;
}

.your-order .search-container {
    float: right;
}
  
  .your-order input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  .sm-order-head {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      padding: 1rem;
  }
  @media(max-width:550px) {
    .sm-order-head {
        display: block;
       text-align: center;
       padding-bottom: 2rem;
    }
    .sm-order-head input {
        width: 200px !important;
       
    }
    .sm-order-head button {
        padding: 0px .8rem !important;
    }
   
  }
  .sm-order-head input {
      width: 250px;
      height: 40px;
      border: 1px solid ;
      border-left: none;
      background-color: transparent;
      padding-left: 5px;
  }
  .sm-order-head input:focus {
      outline: none;
  }
  .sm-order-head button {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #8888;
      font-size: .8rem;
      padding: 0px 1.5rem;
    }
  .sm-order-head label {
    border: 1px solid #000;
      border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #fff;
  }
  .sm-order-head label img {
      width: 1rem;
  }

  .your-order .search-container button:hover {
    background: #ccc;
  }

  .table-head-bg {
    background-color: #888888; 
    color: white;
    border-radius: 3px;
  }
 
  

@media (max-width: 420px) {
    .button {
        padding: 0 10px;
    }
    .tutu {
        text-align: center;
    }
    .quantity {
        text-align: center;
       
    }
    .aa {
        border-left: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
       padding: 5px;

    }
    .bb {
        border: 1px solid; 
        padding: 5px;
     
    }
    .cc {
       
        border-right: 1px solid ;
        border-top: 1px solid ;
        border-bottom: 1px solid;
        padding: 5px;
        margin: -4px ;
    }
    .dd {
        text-align: center;
    }
    .delivery {
        text-align: center;
    }
    .tee-btn {
        display: block;
        text-align: center;
    }
    .button {
        margin-top: 1.5rem;
        margin-left: 0px;
        padding: 0 3.7rem;
    }
    
}

@media (max-width: 780px) {
    .table-desktop {
        display: none;
    }
    .table-mobile {
        display: block;
    }
    .quantity {
        text-align: center;
       
    }
    .aa {
        border-left: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
       padding: 5px;

    }
    .bb {
        border: 1px solid; 
        padding: 5px;
     
    }
    .cc {
       
        border-right: 1px solid ;
        border-top: 1px solid ;
        border-bottom: 1px solid;
        padding: 5px;
        margin: -4px ;
    }
    .dd {
        text-align: center;
    } 
}*/
#site-info {
	height: 3em;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: #00CDCD;
	position: absolute;
	color: #fff;
	left: 0;
	bottom: 0;
}
#masthead {
	margin-top: 3em;
	padding: 2em 0 0.5em 0;
	border-bottom: 1px solid #ddd;
}

#masthead h1 {
	margin: 0;
	font-size: 3.5em;
	overflow: hidden;
	padding-left: 85px;
	min-height: 82px;
	line-height: 2.3;	
}

#shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
    background-color: plum;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
}

.shopping-cart td.pdelete {
	text-align: center;
}

.pdelete a,
.pdelete a:hover {
	color: #c00;
	text-decoration: none;
	font-size: 2.5em;
	display: block;
	text-align: center;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}
#pricing {
	padding: 0.5em;
	margin: 1em 0;
	background: #fafafa;
}

#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
	text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}

#checkout-order-form {
	margin: 1.5em 0;
}

#checkout-order-form fieldset {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 1em;
	margin-bottom: 1.3em;
}

#checkout-order-form legend {
	padding: 0.3em;
	background: plum;
	font-weight: bold;
}

#checkout-order-form div {
	margin-bottom: 1em;
}

#checkout-order-form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-align: left;
}

#checkout-order-form input[type="text"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.1em;
}

#checkout-order-form select {
	width: 200px;
	display: block;
}

.message {
	display: block;
	margin: 0.5em 0;
	color: red;
}

#user-details {
	margin: 1.5em 0;
}

#user-details > h2 {
	text-align: center;
	font-size: 2em;
}

#user-details-content {
	margin: 1.5em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 6px;
	overflow: hidden;
}

#user-details-content .detail {
	float: left;
	width: 46%;
}

#user-details-content .detail.right {
	float: right;
}

#user-details-content .detail > h2 {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

#user-details-content ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}

#user-details-content li {
	display: block;
	margin-bottom: 0.5em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #ddd;
}

#paypal-form {
	margin: 1.5em 0;
}


